@import url(http://fonts.googleapis.com/css?family=Roboto:400);


body {

  background-image: url(../img/bg-login.jpg);
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
   width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}


.container {
    padding: 25px;
    position: fixed;
    margin-left: 37%;
    margin-top: 10%;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


@media screen and (max-width:450px){
    .container {
    padding: 25px;
    position: fixed;
    margin-left: 0%;
    margin-top: 20%;

}

}